<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.religare.testscripts.SecureTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>secureFirstpageTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>secureProposerdetailsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>secureInsureddetailsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>secureMedicalhistoryTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SecureThankyouTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>securePaymentTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>secureProposalsummaryTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>moveToSecureTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>launchBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
