<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9963d8">  <td>18/07/11 15:22:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.launchBrowser()[pri:0, instance:com.religare.testscripts.SecureTest@27a5f880]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@352359770</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>18/07/11 15:22:50</td>   <td>31394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SecureTest.moveToSecureTest()[pri:0, instance:com.religare.testscripts.SecureTest@27a5f880]">moveToSecureTest</td> 
  <td>main@352359770</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>18/07/11 15:23:18</td>   <td>59558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SecureTest.secureFirstpageTest()[pri:0, instance:com.religare.testscripts.SecureTest@27a5f880]">secureFirstpageTest</td> 
  <td>main@352359770</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>18/07/11 15:23:41</td>   <td>82068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SecureTest.secureProposerdetailsTest()[pri:0, instance:com.religare.testscripts.SecureTest@27a5f880]">secureProposerdetailsTest</td> 
  <td>main@352359770</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>18/07/11 15:24:18</td>   <td>119128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SecureTest.secureInsureddetailsTest()[pri:0, instance:com.religare.testscripts.SecureTest@27a5f880]">secureInsureddetailsTest</td> 
  <td>main@352359770</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>18/07/11 15:24:50</td>   <td>151687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SecureTest.secureMedicalhistoryTest()[pri:0, instance:com.religare.testscripts.SecureTest@27a5f880]">secureMedicalhistoryTest</td> 
  <td>main@352359770</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>18/07/11 15:25:22</td>   <td>183292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SecureTest.secureProposalsummaryTest()[pri:0, instance:com.religare.testscripts.SecureTest@27a5f880]">secureProposalsummaryTest</td> 
  <td>main@352359770</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>18/07/11 15:25:51</td>   <td>212441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SecureTest.securePaymentTest()[pri:0, instance:com.religare.testscripts.SecureTest@27a5f880]">securePaymentTest</td> 
  <td>main@352359770</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>18/07/11 15:26:23</td>   <td>244017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SecureTest.SecureThankyouTest()[pri:0, instance:com.religare.testscripts.SecureTest@27a5f880]">SecureThankyouTest</td> 
  <td>main@352359770</td>   <td></td> </tr>
</table>
